# ============================================================
# 预设私有脚本忽略规则 (禁止将个人脚本与压缩包上传仓库)
# ============================================================
preset_plugins/*
!preset_plugins/.gitkeep
!preset_plugins/README.md

apk_meta_cache.json

*.apk
build_cache/
tools/
*.keystore
*.dex
__pycache__/
*.class
bin/
dex_out/
*.idsig
*.bak